$menu-grid: 8px !default;
$menu-z-index: 96 !default;

$menu-bg: #25262B !default;
$menu-color: #ffffff !default;
$menu-separator: #eee !default;
$menu-item-hover: $color__brand-primary !default;
$menu-font-size: $menu-grid * 2 !default;

$menu-link: $menu-color !default;
$menu-link-hover: $color__brand-primary !default;
