.widefat.image-url {
    max-width: 290px;
}

.widget-layouts a {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 15px;
    text-decoration: none;
    outline: none;
    padding: 5px;
    border: 1px solid transparent;
}

.widget-layouts a.selected {
    border-color: #008ec2;
}

#customize-theme-controls .widget-layouts a {
    margin-left: 11px;
    width: 50px;
    height: 50px;
}

#customize-theme-controls .widget-layouts a img {
    width: 50px;
    height: 50px;
}

.widget-layouts a:hover,
.widget-layouts a:focus {
    text-decoration: none;
    outline: none;
}

.widget-layouts a img {
    width: 100px;
    height: 100px;
}

.tyche-media-control img {
    width: 100%;
    height: auto;
}

.tyche-media-control label{
    display:block;
}