.top-header-bar-container {
  width: 100%;
  background: $color__header_bg;

  color: #FFF;
  a, p, i, span, input {
    color: #FFF;
  }

  a {
    &:hover {
      i {
        color: $color__brand-primary;
      }
    }
  }
  vertical-align: middle;
  .top-header-bar {
    li {
      float: right;
      line-height: 50px;
      &:first-child {
        float: left;
      }
      &.top-search {
        input {
          background: #25262b;
          border: none;
          color: #FFF;
          font-size: 15px;
          padding-left: 10px;
          padding-right: 15px;
          height: 30px;
        }
        #search-top-bar-submit {
          border: none;
          background: #25262b;
          padding: 0 10px;
          height: 30px;
          position: relative;
          left: -6px;
          font-size: 15px;
        }

        margin-right: 11px;
      }
      &.top-cart {
        padding-left: 15px;
        padding-right: 15px;
        background: $color__brand-primary;
        a {
          &:hover {
            i {
              color: #FFF;
            }
          }
        }
      }
      &.top-multilang {
        margin-right: 15px;
        border-left: 1px solid #353940;
        overflow: hidden;
        position: relative;
        min-width: 150px;
        &:after {
          content: '\f107';
          position: absolute;
          top: 1px;
          right: 0px;
          display: block;
          color: #FFF;
          font-family: 'FontAwesome';
        }
        select {
          width: 110%;
          margin-left: 15px;
          border: none;
          color: #FFF;
          background: transparent;
          left: 25px;
          position: relative;
        }

        img {
          width: 20px;
          position: absolute;
          top: 18px;
          left: 15px;
        }

      }
      &.top-account {
        padding-left: 15px;
        margin-right: 15px;
        border-left: 1px solid #353940;
        a {
          &:hover {
            color: $color__brand-primary;
          }
        }
      }
      @media (max-width: 767px) {
        width: 100%;
        display: inline-block;
        border: none;
        float: none;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        &.top-account, &.top-multilang {
          border-left: none;
          margin-right: 0;
        }
        &.top-search {
          text-align: center;
          .pull-right {
            float: none !important;
          }
        }
      }
      @media (max-width: 991px) {
        &.top-search {
          width: 100%;
          text-align: center;
          .pull-right {
            float: none !important;
          }
        }
      }
    }
  }
}