/**
/ Pager styles
*/
.tyche-pager {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: $color__title;
  a {
    color: $color__title;
  }
  li {
    display: inline-block;
    border-radius: 4px;
    margin: 0 5px;
    &.active {
      background-color: $color__title;
      a {
        color: #FFF;
      }
    }
    a {
      font-size: 16px;
      padding: 4px 6px;
      min-width: 22px;
      min-height: 22px;
      &:hover {
        text-decoration: none;
      }

      .pager-text {
        font-size: 13px;
        letter-spacing: 4px;
        &.prev {
          margin-left: 10px;
          margin-right: 30px;
        }
        &.right {
          margin-right: 10px;
          margin-left: 30px;
        }
      }
    }
  }
}